:root {
    /* colors */
    --black-text-color: #212121;
    --gray-text-color: #757575;
    --blue-text-color: #2196f3;
    --selection-btn-color: #188ce8;
    --white-bgr-text-color: #ffffff;
    --gray-icon-color: #afb1b8;
    --secondary-bgr-color: #f5f4fa;
    --hero-footer-bgr-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --work-bgr-color: rgba(47, 48, 58, 0.8);
    --social-link-bgr-gray-color: rgba(255, 255, 255, 0.1);
    --modal-message-placeholder-color: rgba(117, 117, 117, 0.5);
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}