.header {
	border-bottom: 1px solid #ececec;
}
.header__container {
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	@media screen and (max-width: 767px) {
		padding: 16px 15px;
		justify-content: space-between;
	}
}

.header__mobile-btn--menu {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;

	width: 40px;
	height: 40px;

	cursor: pointer;

	z-index: 2000;
	position: absolute;
	right: 15px;

	background-color: transparent;
	border: transparent;
	outline: transparent;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--black-text-color);
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.header__mobile-btn--icon {
	width: 40px;
	height: 40px;
}
.header__mobile-btn--open {
	opacity: 1;
	width: 24px;
	height: 16px;
}
.header__mobile-btn--close {
	opacity: 0;
}
.header__mobile-btn--menu.is-active {
	position: fixed;
}
.header__mobile-btn--menu.is-active .header__mobile-btn--open {
	opacity: 0;
}
.header__mobile-btn--menu.is-active .header__mobile-btn--close {
	opacity: 1;
}
.header__mobile-btn--menu:hover,
.header__mobile-btn--menu:focus {
	fill: var(--blue-text-color);
}
.header__mobile-btn--icon.is-active .header__mobile-btn--open {
	opacity: 1;
}

.header__mobile-btn--icon.is-active .header__mobile-btn--close {
	opacity: 0;
}

.nav {
	margin-right: auto;
}

.nav__list {
	display: none;
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 50px;
	}
}
.nav__link {
	display: block;
	color: var(--black-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.02em;

	padding-top: 32px;
	padding-bottom: 32px;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
	color: var(--blue-text-color);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -1px;

		display: block;
		width: 100%;
		height: 4px;

		border-radius: 2px;
		background-color: var(--blue-text-color);
	}
}
.current__mibile {
	color: var(--blue-text-color);
	position: relative;
}

.header__list {
	display: block;
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	@media screen and (min-width: 1200px) {
		flex-direction: row;
		gap: 50px;
	}
}
.header__contacts {
	display: none;
	color: var(--gray-text-color);
	font-weight: 500;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.02em;

	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.1;

		padding-top: 32px;
		padding-bottom: 32px;
	}

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
	fill: currentColor;
	margin-right: 10px;

	&__icon:hover,
	&__icon:focus {
		fill: currentColor;
	}
}
