.portfolio__filter {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 30px;

	@media screen and (min-width: 768px) {
		justify-content: center;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-bottom: 50px;
	}
}
.portfolio__btn {
	cursor: pointer;
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--secondary-bgr-color);

	padding: 5px 22px;
	border-radius: 4px;
	border: none;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--selection-btn-color);
		color: var(--white-bgr-text-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
.current-btn {
	background-color: var(--blue-text-color);
	color: var(--white-bgr-text-color);
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.portfolio__item {
	width: 100%;
	@media screen and (min-width: 768px) {
		width: 354px;
	}
	@media screen and (min-width: 1200px) {
		width: 370px;
	}
}
.portfolio__link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
		&:hover .portfilio__overlay {
			transform: translateY(0);
		}
	}
}
.portrolio__wrapper {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
	height: 146px;
}

.portfolio__subtitle {
	color: var(--black-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-bottom: 4px;
}
.portfolio__text {
	color: var(--gray-text-color);
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
}

.portfilio__card {
	position: relative;
	overflow: hidden;
}
.portfolio__img {
	width: 100%;
}
.portfilio__overlay {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	width: 100%;
	height: 100%;
	padding: 63px 24px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(33, 150, 243, 0.9);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfilio__description {
	font-family: var(--main-font);
	font-size: 18px;
	line-height: calc(28 / 18);
	letter-spacing: 0.03em;
	text-align: left;

	color: var(--white-bgr-text-color);
}
