.team {
	background-color: var(--secondary-bgr-color);
}
.team__title {
	margin-bottom: 30px;
	font-size: 28px;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 0.03em;

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
		font-size: 36px;
		line-height: 1.2;
	}
}
.team__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
}
.team__item {
	background: var(--white-bgr-text-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	width: 450px;

	@media screen and (min-width: 768px) {
		width: 354px;
	}

	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}
.team__name-wrapper {
	padding-top: 30px;
	padding-bottom: 24px;
	padding-left: 5px;
	padding-right: 5px;

	@media screen and (min-width: 1200px) {
		padding-bottom: 30px;
	}
}

.team__name {
	color: var(--black-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 10px;
}
.team__job {
	color: var(--gray-text-color);
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 16px;
}
