.logo {
	color: var(--blue-text-color);
	font-family: var(--logo-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	word-spacing: -0.3em;

	margin-right: 93px;
	.logo__text--black {
		color: var(--black-text-color);
	}
	.logo__text--white {
		color: var(--white-bgr-text-color);
	} 
}
